html,body {
  min-height: 600px;
	height: 100%;
}


body{margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; position: relative;}
body.loginpage:after{width: 50%; background:#f2f2f2; content: ''; height: 100%; display: block; position: absolute; top:0; left: 0; z-index: 0;}
.container{position: relative; z-index: 1;}
img{max-width: 100%;}
h3{font-size: 20px; font-weight: 600; color: #000000; margin-bottom: 20px; width: 100%; display: block;}
h5{font-size: 16px; font-weight: normal; color: #838383; margin-bottom: 10px; width: 100%; display: block;}
*{margin: 0; padding: 0;}

.form-control{background-color: #e0e0e0; border:none; color: #000;}
.text-primary {color: #2d3394!important;}
.btn-primary {color: #fff; background-color: #2d3394; border-color: #2d3394;}

.btn-outline-primary {color: #2d3394; border-color: #2d3394;}

.btn-primary:hover,.btn-primary.focus, .btn-primary:focus {
    color: #2d3394;
    background-color: #fff;
    border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    color: #2d3394;
    background-color: #fff;
    border-color: #2d3394;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #2d3394;
    border-color: #2d3394;
}
input:-internal-autofill-selected {
    background-color: #e0e0e0 !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

body.loginpage .header{position: absolute; margin-bottom: 0;}
.header{width: 100%; display: block; padding-top:20px; margin-bottom: 50px; position: relative; z-index: 2;}
.headermenu{text-align: right;}
.headermenu ul{list-style: none; padding-top: 10px; margin: 0;}
.headermenu ul li{display: inline-block; margin-left: 20px;}
.headermenu ul li a{font-size: 14px; color: #000; font-weight: bold;}

.loginform{text-align: center;}
.formlogo{text-align: center;}

.form-group{margin-bottom: 30px;}
.formcont h4{font-size: 20px; font-weight: 600; margin: 0 0 25px; padding: 0;}
.formcont label{font-size: 14px; font-weight: normal; margin-bottom: 15px;}
.formcont a{font-size: 14px; color: #838383;}

.usermenu span{padding-left: 10px;}
.usermenu img{border-radius: 50%;}

.table{font-size: 14px; text-align: center; color: #000;}
.table thead th{background: #000; color:#fff; font-weight: normal;}
.table-bordered td, .table-bordered th {border: 1px solid #e0e0e0;}
.table-striped tbody tr:nth-of-type(odd) {background:#fff;}
.table-striped tbody tr:nth-of-type(even) {background:#838383;}